{% extends './layout.html' %} {% block title %} order{% endblock %} {% block head %}
<link rel="stylesheet" href="css/css/reset.css">
<link rel="stylesheet" href="css/css/font.css">
<link rel="stylesheet" href="css/css/mine.css"> {% endblock %} {% block content %}
<div class="mem_header">
    <button>
        <span>&lt</span>
    </button>
    <div class="mem_inform">
        <span id="memname"> 卢帅帅</span>
        <img src="./imgs/memberimg.jpeg" alt="">
    </div>
    <div class="good_status">
        <ul>
            <li>
                <h1>1</h1>
                <span>待付款</span>
            </li>
            <li>
                <h1>2</h1>
                <span>待发货</span>
            </li>
            <li>
                <h1>3</h1>
                <span>待收货</span>
            </li>
            <li>
                <h1>4</h1>
                <span>已完成</span>
            </li>
        </ul>
    </div>
</div>
<div class="member-list">
    <ul>
        <li>
            <span class="icon-allorders"></span>
            <span>我的订单</span>
        </li>
    </ul>
    <ul>
        <li>
            <span class="icon-head" style="background:#78c322"></span>
            <span>我的资料</span>
        </li>
        <li>
            <span class="icon-pwd" style="background:#f69465"></span>
            <span>修改密码</span>
        </li>
        <li>
            <span class="icon-coupons" style="background:#ff7fa5"></span>
            <span>优惠券</span>
        </li>
        <li>
            <span class="icon-address" style="background:#2bb5d9"></span>
            <span>收货地址</span>
        </li>
    </ul>
    <ul>
        <li>
            <span class="icon-out" style="background:#405e90"></span>
            <span>退出</span>
        </li>
    </ul>
</div>
{% endblock %}